/* Note: Widgets obtained from Glade files will not be addressable
   directly by name as these are not brought in when loaded, only
   the widget type can be configured unless they are named in code */

/* Increase label size # dialog-account.c */
.primary_label_size {
  font-size: large;
  font-weight: bold;
}

