/* Note: Widgets obtained from Glade files will not be addressable
   directly by name as these are not brought in when loaded, only
   the widget type can be configured unless they are named in code */


/* Import Matcher, amount of intervention required */
.intervention-required {
  background-color: brown1;
}

.intervention-probably-required {
  background-color: gold;
}

.intervention-not-required {
  background-color: DarkSeaGreen1;
}

/* Negative value label colors */
.default-color {
  color: currentColor;
}

.negative-numbers {
  color: rgb(75%, 0%, 0%);
}

/* Register2 grid lines color */
.register2_grid_lines {
  border-color: black;
}

*.primary {
  background-color: lavender;
}

*.secondary {
  background-color: SlateGray1;
}

*.markers {
  background-color: yellow;
}
