*.bak
*.gmo
*.la
*.lo
*.orig
*.schemas
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
cscope.files
cscope.out
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/gnc-prices.1
doc/gnucash.1
doc/tip_of_the_day.list
install-sh
intl-scm/guile-strings.c
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
lib/guile-www/www
lib/libqof/backend/file/qsf-dir.h
lib/libqof/qof/qofla-dir.h
libtool
ltmain.sh
make-gnucash-potfiles
missing
mkinstalldirs
packaging/gnucash.spec
packaging/win32/gnucash.iss
po/Makefile.in.in
po/POTFILES
po/POTFILES.in
po/gnucash.pot
po/stamp-it
src/app-utils/gnucash
src/bin/gnucash
src/bin/gnucash-bin
src/bin/gnucash-env
src/bin/gnucash-make-guids
src/bin/gnucash-valgrind
src/bin/overrides/gnucash-build-env
src/bin/overrides/gnucash-env
src/bin/overrides/guile
src/bin/update-gnucash-gconf
src/business/business-core/gnucash
src/business/business-gnome/gnucash
src/business/business-reports/gnucash
src/business/business-utils/gnucash
src/business/dialog-tax-table/gnucash
src/core-utils/gnucash
src/doc/design/gnucash-design.info
src/doc/design/mdate-sh
src/doc/design/stamp-vti
src/doc/design/texinfo.tex
src/doc/design/version.texi
src/engine/gncla-dir.h
src/engine/gnucash
src/engine/iso-4217-currencies.c
src/gnc-module/gnucash
src/gnome-utils/gnc-svninfo.h
src/gnome-utils/gnc-version.h
src/gnome-utils/gnucash
src/gnome/gnucash.desktop
src/gnome/gnucash.desktop.in
src/import-export/qif-import/gnucash
src/import-export/qif-import/qif-import
src/quotes/gnc-fq-check
src/quotes/gnc-fq-helper
src/quotes/gnc-fq-update
src/report/locale-specific/us/gnucash
src/report/report-gnome/gnucash
src/report/report-system/gnucash
src/report/standard-reports/gnucash
src/report/stylesheets/gnucash
src/report/utility-reports/gnucash
src/scm/build-config.scm
src/scm/gnucash
src/swig-runtime.h
src/tax/us/gnucash
stamp-h1
swig-*.c
.deps
.libs
.scm-links
*~
po/.intltool-merge-cache
src/bin/gnucash-bin.o
