*.bak
*.gmo
*.go
*.gschema.xml
*.gschema.xml.in
*.gschema.valid
*.la
*.lo
*.o
*.orig
*.pyc
*.pyo
*.schemas
*~
.*.sw?
.build*/
.cproject
.project
.scm-links
ChangeLog
Makefile
Makefile.in
TAGS
tags
config.h
cscope.files
cscope.out
gnucash.trace
doc/gnc-prices.1
doc/gnucash.1
doc/tip_of_the_day.list
gnucash-*.*.*.tar.*
gnucash-*.*.*/
po/LINGUAS
po/POTFILES
po/POTFILES.in
po/gnucash.pot
po/glossary/gnc-glossary.pot
py-compile
bindings/python/.py-links
bindings/python/gnucash/
bindings/python/gnucash_core.c
bindings/python/gnucash_core_c.py
bindings/python/sqlite3test
common/swig-runtime.h
common/test-core/gnucash/
common/test-core/test_stuff.py
common/test-core/unittest_support.py
data/pixmaps/128x128/
data/pixmaps/16x16
data/pixmaps/22x22
data/pixmaps/24x24
data/pixmaps/256x256/
data/pixmaps/32x32
data/pixmaps/48x48
data/pixmaps/64x64/
data/pixmaps/96x96/
data/pixmaps/gnucash-icon-16x16.png
data/pixmaps/gnucash-icon-32x32.png
data/pixmaps/scalable
libgnucash/app-utils/calculation/test/test-link
libgnucash/app-utils/gnucash
libgnucash/app-utils/sw_app_utils.py
libgnucash/app-utils/test/test-exp-parser
libgnucash/app-utils/test/test-link-module
libgnucash/app-utils/test/test-print-parse-amount
libgnucash/app-utils/test/test-print-queries
libgnucash/app-utils/test/test-scm-query-string
libgnucash/app-utils/test/test-sx
libgnucash/backend/dbi/test/test-dbi
libgnucash/backend/dbi/test/test-dbi-basic
libgnucash/backend/dbi/test/test-dbi-business
libgnucash/backend/dbi/test/test-load-backend
libgnucash/backend/sql/test/test-column-types
libgnucash/backend/sql/test/test-sqlbe
libgnucash/backend/xml/test/test-date-converting
libgnucash/backend/xml/test/test-dom-converters1
libgnucash/backend/xml/test/test-kvp-frames
libgnucash/backend/xml/test/test-load-backend
libgnucash/backend/xml/test/test-load-example-account
libgnucash/backend/xml/test/test-load-xml2
libgnucash/backend/xml/test/test-save-in-lang
libgnucash/backend/xml/test/test-string-converters
libgnucash/backend/xml/test/test-xml-account
libgnucash/backend/xml/test/test-xml-commodity
libgnucash/backend/xml/test/test-xml-pricedb
libgnucash/backend/xml/test/test-xml-transaction
libgnucash/backend/xml/test/test-xml2-is-file
libgnucash/core-utils/gnc-vcs-info.h
libgnucash/core-utils/gncla-dir.h
libgnucash/core-utils/gnucash
libgnucash/core-utils/sw_core_utils.py
libgnucash/core-utils/test/test-gnc-uri-utils
libgnucash/core-utils/test/test-resolve-file-path
libgnucash/doc/doxygen.cfg
libgnucash/doc/doxygen.log
libgnucash/doc/design/gnucash-design.info
libgnucash/doc/design/mdate-sh
libgnucash/doc/design/stamp-vti
libgnucash/doc/design/texinfo.tex
libgnucash/doc/design/version.texi
libgnucash/doc/html/
libgnucash/engine/gncla-dir.h
libgnucash/engine/gnucash
libgnucash/engine/iso-4217-currencies.c
libgnucash/engine/test/gnucash
libgnucash/engine/test/test-account-object
libgnucash/engine/test/test-address
libgnucash/engine/test/test-book-merge
libgnucash/engine/test/test-business
libgnucash/engine/test/test-commodities
libgnucash/engine/test/test-customer
libgnucash/engine/test/test-date
libgnucash/engine/test/test-employee
libgnucash/engine/test/test-engine
libgnucash/engine/test/test-group-vs-book
libgnucash/engine/test/test-guid
libgnucash/engine/test/test-job
libgnucash/engine/test/test-link
libgnucash/engine/test/test-load-engine
libgnucash/engine/test/test-lots
libgnucash/engine/test/test-numeric
libgnucash/engine/test/test-object
libgnucash/engine/test/test-period
libgnucash/engine/test/test-query
libgnucash/engine/test/test-querynew
libgnucash/engine/test/test-qof
libgnucash/engine/test/test-recurrence
libgnucash/engine/test/test-recursive
libgnucash/engine/test/test-scm-query
libgnucash/engine/test/test-split-vs-account
libgnucash/engine/test/test-transaction-reversal
libgnucash/engine/test/test-transaction-voiding
libgnucash/engine/test/test-vendor
libgnucash/gnc-module/gnucash
libgnucash/gnc-module/test/test-agedver
libgnucash/gnc-module/test/test-dynload
libgnucash/gnc-module/test/test-incompatdep
libgnucash/gnc-module/test/test-load-c
libgnucash/gnc-module/test/test-modsysver
libgnucash/quotes/gnc-fq-check
libgnucash/quotes/gnc-fq-helper
libgnucash/quotes/gnc-fq-update
libgnucash/scm/build-config.scm
libgnucash/scm/gnucash
libgnucash/tax/us/gnucash
libgnucash/tax/us/test/test-link-module
gnucash/environment
gnucash/gnucash
gnucash/gnucash-bin
gnucash/gnucash-valgrind
gnucash/gnome/gnucash
gnucash/gnome/gnucash.desktop
gnucash/gnome/gnucash.desktop.in
gnucash/gnome-utils/gnucash
gnucash/gnome-utils/gnc-svninfo.h
gnucash/gnome-utils/gnc-version.h
gnucash/gnome-utils/gnucash
gnucash/gnome-utils/test/test-gnc-dialog
gnucash/gnome-utils/test/test-gnc-recurrence
gnucash/gnome-utils/test/test-link-module
gnucash/import-export/ofx/test/test-link
gnucash/import-export/qif-import/gnucash
gnucash/import-export/qif-import/qif-import
gnucash/import-export/qif-import/test/test-link
gnucash/import-export/test/test-import-parse
gnucash/import-export/test/test-link
gnucash/python/.py-links
gnucash/python/gnucash/python/init.py
gnucash/register/ledger-core/test/test-link-module
gnucash/register/register-core/test/test-link-module
gnucash/register/register-gnome/test/test-link-module
gnucash/report/business-reports/gnucash
gnucash/report/locale-specific/us/gnucash
gnucash/report/locale-specific/us/test/test-link-module
gnucash/report/report-gnome/gnucash
gnucash/report/report-gnome/test/test-link-module
gnucash/report/report-system/gnucash
gnucash/report/report-system/test/test-link-module
gnucash/report/standard-reports/gnucash
gnucash/report/stylesheets/gnucash
gnucash/report/utility-reports/gnucash
swig-*.c
test-driver
translog.*.log
CMakeLists.txt.user
gnucash.config
gnucash.creator
gnucash.creator.user
gnucash.files
gnucash.includes

DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
messages.mo
/.settings/
/build/
