# Test
sudo: required
dist: trusty
language: c++
compiler:
  - gcc
#  - clang
before_install:
#  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq
install:
#  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.9; export CXX="g++-4.9" CC="gcc-4.9"; fi
  - sudo apt-get build-dep -qq gnucash
  - sudo apt-get install -qq swig
  - sudo apt-get install -qq libboost-all-dev
  - sudo apt-get --reinstall install -qq language-pack-en language-pack-fr
  - git clone https://github.com/google/googletest ~/gtest
script: ./autogen.sh && ./configure GTEST_ROOT=~/gtest/googletest GMOCK_ROOT=~/gtest/googlemock && make && TZ="America/Los_Angeles" make check
