#! /bin/bash
# This is an example custom.sh file. Copy this file to custom.sh and 
# edit it.
# 
# Note: All directories must be without spaces!
#
# REPOS_URL="svn+ssh://<dev>@svn.gnucash.org/repo/gnucash/trunk"
# SF_MIRROR="http://switch.dl.sourceforge.net/sourceforge"
# DISABLE_OPTIMIZATIONS=yes
# AQBANKING_WITH_QT=no
# GLOBAL_DIR=Z:\\mydir  # all directories will use this
# WGET_RATE=50k         #limit download bandwith to 50KB/s
# NO_SAVE_PROFILE=yes   # don't save env settings to /etc/profile.d
# late_eval 'INSTALL_DIR=$GNUCASH_DIR\\myinst'  # no need to define GNUCASH_DIR
# block_step inst_docs
# late_eval 'add_step greetings'
# function greetings() { setup Greetings; }
# QTDIR=c:\\Qt\\4.2.3
# CROSS_COMPILE=yes
