Source: gnucash
Section: utils
Priority: extra
Maintainer: John Goerzen <jgoerzen@complete.org>
Standards-Version: 3.1.0.0
Build-Depends: libguppi-dev, libguile-dev, libgtkhtml-dev, libxml-dev, libart-dev, libgnome-dev, libgwrapguile-dev, libglib1.2-dev

Package: gnucash
Architecture: any
Depends: ${shlibs:Depends}, libwww-perl, guile1.4-slib
Suggests: gnuplot
Description: A personal finance tracking program.
 Gnucash can track finances in multiple accounts, keeping running
 and reconciled balances. It has an X based graphical user interface,
 double entry, a hierarchy of accounts, expense accounts (categories),
 and can import Quicken QIF files.
 .
 Gnucash is derived from xacc.  It adds perl and guile extensibility,
 and can produce HTML output.
 .
 This is BETA software.  It works to a degree but there are still many
 bugs and unimplemented features.  If you want a stable version, try the
 xacc package instead.
