#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Adapted for gnucash by Dirk Eddelbuettel. March 1999. GPL'ed

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

package=gnucash

build: build-stamp
build-stamp:
	dh_testdir
	$(checkdir)
	CFLAGS="-fsigned-char -g" ./configure --prefix=/usr
	make depend
	make gnome
	touch build
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	#-$(MAKE) distclean
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	make install prefix=`pwd`/debian/tmp/usr GNC_DOCDIR=`pwd`/debian/tmp/usr/share/doc
	strip `pwd`/debian/tmp/usr/lib/gnucash/gnucash.so
	touch install-stamp

binary-indep: build install

binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples	doc/examples/*.xac
	dh_installmenu
#	dh_installemacsen
#	dh_installinit
	dh_installcron
	dh_installmanpages
#	dh_undocumented		gnc-prices.1 gnucash.1x gnucash.motif.1x
	dh_installchangelogs	ChangeLog
	dh_strip
	dh_compress
	dh_fixperms
	dh_suidregister
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

 
