/* Note: Widgets obtained from Glade files will not be addressable
   unless they have been named or have style classes added. Only
   the widget type can be configured unless they are named in code */


/* Negative value label colors */
.gnc-class-default-color {
  color: @default-color;
}

.gnc-class-negative-numbers {
  color: @negative-numbers;
}

/* Register Cursor settings, top, right, bottom, left */
gnc-id-cursor entry {
  margin: 2px 5px 2px 5px;
  padding: 0px 2px 0px 2px;
}

gnc-id-cursor button {
  margin: 1px 1px 1px 1px;
}

/* Register defaults */
@define-color register_header_bg_color #96B183;
@define-color register_primary_bg_color #BFDEB9;
@define-color register_secondary_bg_color #F6FFDA;
@define-color register_split_bg_color #EDE7D3;
@define-color register_cursor_bg_color #FFEF98;
@define-color register_fg_color black;

*.gnc-class-register-foreground {
  color: @register_fg_color;
}

*.gnc-class-register-header {
  background-color: @register_header_bg_color;
}

*.gnc-class-register-primary {
  background-color: @register_primary_bg_color;
}

*.gnc-class-register-primary:disabled {
  background-color: mix (@register_primary_bg_color, grey, 0.2);
}

*.gnc-class-register-secondary {
  background-color: @register_secondary_bg_color;
}

*.gnc-class-register-secondary:disabled {
  background-color: mix (@register_secondary_bg_color, grey, 0.2);
}

*.gnc-class-register-split {
  background-color: @register_split_bg_color;
}

*.gnc-class-register-split:disabled {
  background-color: mix (@register_split_bg_color, grey, 0.2);
}

*.gnc-class-register-cursor {
  background-color: @register_cursor_bg_color;
}

*.gnc-class-register-cursor:disabled {
  background-color: mix (@register_cursor_bg_color, grey, 0.2);
}

/* Change font color by mixing with grey */
.gnc-class-lighter-grey-mix {
  color: mix (currentColor, grey, 0.8);
}

.gnc-class-darker-grey-mix {
  color: mix (currentColor, grey, 0.2);
}

/* Highlight some text */
.gnc-class-highlight {
  color: blue;
}

/* Some tweaks for the about dialog */
dialog#GnuCash > box > box > label
{
  font-size: 24px;
}
